.header {
  position: sticky;
  z-index: 100000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  padding: 26px 40px;
  max-width: 2480px;
  width: 100%;
  background-color: var(--main-bg-color);
}

.header__logo {
  width: 111px;
  height: auto;
}

.header__list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  color: var(--additional-text-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  transition: color var(--base-transition-property);
}

.header__nav-link:hover,
.header__nav-link:focus-visible {
  color: var(--additional-text-color-effect);
}

.header__burger-menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__burger-menu-btn:hover .header__burger-menu-img {
  opacity: 0.85;
}

.header__burger-menu-img {
  width: 24px;
  height: 24px;
  transition: opacity var(--base-transition-property);
}

@media (max-width: 1439px) {
  .header {
    padding: 28px 32px 20px;
  }
}

@media (max-width: 1279px) {
}

@media (max-width: 1023px) {
  .header__list {
    display: none;
  }

  .header__burger-menu-btn {
    display: block;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 12px;
  }

  .header__logo {
    width: 83px;
  }
}
