.pink_btn {
  color: var(--color-white);
  padding: 20px 32px;
  background-color: var(--accent-bg-color);
  border-radius: 24px;
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 20px;
  text-wrap: nowrap;
  line-height: 1.2;
  transition: opacity var(--base-transition-property);
  cursor: pointer;
  border: none;
}

.pink_btn:hover,
.pink_btn:focus-visible {
  opacity: 0.85;
}

@media (max-width: 767px) {
  .pink_btn {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.25;
  }
}
