.pink_btn,
.black_btn {
  display: inline-block;
  padding: 20px 32px;
  border-radius: 24px;
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 20px;
  text-wrap: nowrap;
  line-height: 1.2;
  transition: opacity var(--base-transition-property);
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
}

.pink_btn:hover,
.pink_btn:focus-visible,
.black_btn:hover,
.black_btn:focus-visible {
  opacity: 0.85;
}

.pink_btn {
  color: var(--color-white);
  background-color: var(--accent-bg-color);
}

.black_btn {
  color: var(--color-white);
  background-color: var(--main-bg-color);
}

@media (max-width: 767px) {
  .pink_btn,
  .black_btn {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.card__number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-text-color);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1 / 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--accent-text-color-2);
}
